In [2]:
import pandas as pd

In [15]:
# 1st 10M rows
df1 = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv', nrows=10000000)
df1.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out units,2.0
1,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out values,1540.0
2,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out units,4.0
3,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out values,3080.0
4,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-10-24,Sell-out units,2.0

In [23]:
df.shape

(182342304, 1)

In [8]:
df_ProductFamily_ID = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv',usecols=[0])
df_ProductFamily_ID.head()

  ProductFamily_ID
0        Family_16
1        Family_16
2        Family_16
3        Family_16
4        Family_16

In [9]:
df_ProductFamily_ID['ProductFamily_ID'] = df_ProductFamily_ID['ProductFamily_ID'].swifter.apply(lambda x: x[7:])

Pandas Apply:   0%|          | 0/182342304 [00:00<?, ?it/s]

In [10]:
df_ProductCategory_ID = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv',usecols=[1])
df_ProductCategory_ID.head()

  ProductCategory_ID
0        Category_11
1        Category_11
2        Category_11
3        Category_11
4        Category_11

In [ ]:
df_ProductCategory_ID['ProductCategory_ID'] = df_ProductCategory_ID['ProductCategory_ID'].swifter.apply(lambda x: x[9:])

Pandas Apply:   0%|          | 0/182342304 [00:00<?, ?it/s]

In [ ]:
df_ProductBrand_ID = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv',usecols=[2])
df_ProductBrand_ID.head()

In [ ]:
df_ProductBrand_ID['ProductBrand_ID'] = df_ProductBrand_ID['ProductBrand_ID'].swifter.apply(lambda x: x[13:])

In [27]:
df_ProductName_ID = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv',usecols=[3])
df_ProductName_ID.head()

    ProductName_ID
0  ProductName_649
1  ProductName_649
2  ProductName_649
3  ProductName_649
4  ProductName_649

In [28]:
df_ProductPackSKU_ID = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv',usecols=[4])
df_ProductPackSKU_ID.head()

  ProductPackSKU_ID
0   ProductSKU_1970
1   ProductSKU_1970
2   ProductSKU_1970
3   ProductSKU_1970
4   ProductSKU_1970

In [29]:
df_Point_of_Sale_ID = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv',usecols=[5])
df_Point_of_Sale_ID.head()

  Point-of-Sale_ID
0            POS_1
1            POS_1
2            POS_1
3            POS_1
4            POS_1

In [44]:
df_Date = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv',usecols=[6])
df_Date.head()

KeyboardInterrupt:

In [ ]:
df_Measures_Value = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv',usecols=[7,8])
df_Measures_Value.head()

In [ ]:
# df_ProductFamily_ID
# df_ProductCategory_ID
# df_ProductBrand_ID
# df_ProductName_ID
# df_ProductPackSKU_ID
# df_Point_of_Sale_ID
# df_Date
# df_Measures_Value
for df in [df_ProductFamily_ID,df_ProductCategory_ID,df_ProductBrand_ID,df_ProductName_ID,df_ProductPackSKU_ID,df_Point_of_Sale_ID,df_Date,df_Measures_Value]:
    print(df.isna().sum())

In [ ]:
df_ProductFamily_ID
# df_ProductCategory_ID
# df_ProductBrand_ID
# df_ProductName_ID
# df_ProductPackSKU_ID
# df_Point_of_Sale_ID

In [5]:
import swifter

In [33]:
df_ProductFamily_ID

          ProductFamily_ID
0                Family_16
1                Family_16
2                Family_16
3                Family_16
4                Family_16
...                    ...
182342299         Family_4
182342300         Family_4
182342301         Family_4
182342302         Family_4
182342303         Family_4

[182342304 rows x 1 columns]